body {
  margin: 0;
  font-family: Calibri;
}
* {
  box-sizing: border-box;
}
button {
  border: 0;
  background-color: darkred;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.ui-sortable {
  min-height: 80px;
}
.btn-delete {
  position: absolute;
  right: 3px;
  top: -7px;
  width: 22px;
  height: 22px;
  border: 0;
  background-color: transparent;
  color: darkgray;
  cursor: pointer;
}
/* BOARD */
.board h1 {
  margin-left: 8px;
  text-align: center;
}
.column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.create-column {
  margin: 0 auto;
  margin-bottom: 30px;
}


/* COLUMN */
.column {
  order: 1;
  min-width: 300px;
  min-height: 50vh;
  background-color: lightgrey;
  margin-left: 8px;
  list-style: none;
  position: relative;
  padding: 10px;
}
.column h2 {
  text-align: center;
}
.column-add-card {
  cursor: pointer;
  text-decoration: none;
  margin: 5px 8px;
  display: block;
}

/* STYLE KARTY */
.card {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  padding: 4px;
  overflow: hidden;
  position: relative;
  background-color: yellow;
  text-align: center;
  padding-top: 10px;
}
.card-list {
  list-style: none;
  margin: 5px;
  padding: 0px;
}
.card-description {
  margin: 2px 0;
}
.card-placeholder {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  border: 2px solid lightgrey;
  background-color: lightblue;
}
